<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="appBApp" ng-controller="MainCtrl">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center"><h3>Study Assistant</h3></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Your Notes</h4>
            <div class="e-notes pre-scrollable">
                <div class="e-single-note" ng-click="openNoteEditor()" ng-repeat="note in notes">
                    <div class="e-note-title">
                        {{note.title}}
                    </div>
                    <div class="e-note-snippet">
                        {{note.text}}
                    </div>
                    <div class="e-note-meta">
                        {{note.status}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Talk to Robo</h4>
            <div id="chatBox" class="message-box pre-scrollable" scroll-to-bottom="messages">
                <div ng-repeat="message in messages" class="alert" ng-class="{'user-message': message.user == 'user', 'robo-message': message.user == 'robo'}">
                    <strong>{{message.user}}:</strong>
                    <span>{{message.data}}</span>
                </div>
            </div>
            <form class="chat-input-container form-inline" ng-submit="send()">
                <input class="chat-input form-control" ng-model="chatInput" placeholder="Press enter to send..." />
                <button class="chat-submit btn btn-primary" ng-disable="!chatInput">Send</button>
            </form>
        </div>
    </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/directives/scrolltobottom.js"></script>
<script src="scripts/controllers/noteeditor.js"></script>
<script src="scripts/services/notes.js"></script>
<!-- endbuild -->
</body>
</html>
